
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav">
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed"  [attr.aria-expanded]="!isCollapsed"
     type="button" data-toggle="collapse"
      data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
       aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home" style="color:white" >A.BHY</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [ngbCollapse]="isCollapsed" >
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link a1" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a1" routerLink="/profil">Profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a1" routerLink="/contact">Contact</a>
        </li>
      </ul>
     
    </div>
  </nav>