#nav{
  /* position: fixed; */
  /* display: block; */
  font-family: Raleway;
  
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
      .a1
      {
          color: #FFF;
          text-decoration: none;
          font: 20px Raleway;
          margin: 0px 10px;
          padding: 10px 10px;
          position: relative;
          z-index: 0;
          cursor: pointer;
      }

       .a1:before, .a1:after
      {
          position: absolute;
          opacity: 0.5;
          height: 100%;
          width: 2px;
          content: '';
          background: #FFF;
          transition: all 0.3s;
      }
      
      .a1:before
      {
          left: 0px;
          top: 0px;
      }
      
      .a1:after
      {
          right: 0px;
          bottom: 0px;
      }
      
      .a1:hover:before, .a1:hover:after
      {
          opacity: 1;
          height: 2px;
          width: 100%;
      }
      