router-outlet ~ * {
    position: fixed;
    width: 100%;
    height: 100%; }
    @media screen and (max-height:800px) {
        router-outlet ~ * {
            position: fixed;
            width: 100%;
            height: 100%; }
      }

html, body, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
