<!--The content below is only a placeholder and can be replaced.-->
<header>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" ></script>
</header>
<app-nav></app-nav>

<div [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">
    
        <router-outlet #o="outlet"></router-outlet>
    </div>