
  
.container-fluid1 {
    overflow-x:auto;

    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, rgb(54, 105, 247), #424243); 
}
#accordionExample{
    padding:80px
}

.card{
    margin: 20px auto;
    margin: 20px auto;
    -webkit-box-shadow: -8px 9px 26px -1px rgba(0,0,0,0.38);
-moz-box-shadow: -8px 9px 26px -1px rgba(0,0,0,0.38);
box-shadow: -8px 9px 26px -1px rgba(0,0,0,0.38);
    position: relative;
    border-radius: 14px 14px 14px 14px;
-moz-border-radius: 14px 14px 14px 14px;
-webkit-border-radius: 14px 14px 14px 14px;
border: 0px solid #000000;

}
.SpanPro{
    padding: 5mm;
    font: 25px 'Oswald', sans-serif, cursive;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
    text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

background-image: linear-gradient(to  right, rgb(230, 95, 5), #ffffff); 
/* background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y; */
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

  }


/* Animate Background Image */
    
    @-webkit-keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

 @media all and (max-width:770px) {
    #accordionExample{
        padding:20px
    }
  }
  @media all and (max-height:500px) {
    #accordionExample{
        padding:20px
    }
  }