<div class="container-fluid1">

  <div class="accordion" id="accordionExample"  >
    <div class="card" style="background-color: transparent">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <div>

            <button class="btn btn-link" type="button" data-toggle="collapse" (click)="showHide1()"
              data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <strong> <div class="SpanPro" >PROFESSIONAL EXPERIENCE</div> </strong>
            </button>
          </div>
        </h5>
      </div>

      <div id="collapseOne" class="collapse {{x}}" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body" style="color:white">
         
          <p style="font-size:20px ; color: #ACCEE9 "><strong>Font-end Web Developer - 5E Training & Technology (Juin 2018 - Now)</strong></p>
          <p> Taking part in creation of Platform using Angular 6 framework and Angular material.
            Realising the necessary tests for the Platform.</p>
          <p style="font-size:20px;  color: #ACCEE9 " ><strong> Responsible digitization for educational content (and Marketing task) -
            5E Training & Technology (Aout 2016 - juin 2018)</strong></p>
          <ul>
            <li>Realize the educational documents</li>
            <li>Produce the necessary posters for marketing</li>
            <li>Organize events and conferences</li>
          </ul>
          <p style="font-size:20px ; color: #ACCEE9 " ><strong> Electrical Technician – Amen security system (Février 2015 - aout 2016)</strong></p>
          <p>Installation of alarm systems and surveillance cameras </p>
        </div>
      </div>
    </div>
    <div class="card" style="background-color: transparent">
      <div style="background-color: transparent" class="card-header" id="headingTwo">
        <h5>
          <button class="btn btn-link collapsed" (click)="showHide2()" type="button" data-toggle="collapse"
            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <strong class="SpanPro">EDUCATION & TRAINING </strong>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse {{y}}" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body" style="color:white">
          <p style="font-size:20px; color: #ACCEE9 ">
              <strong>FreeCodeCamp - 2019</strong>
          </p>
          <p>
           <li> Responsive Web Design : Developer Certification, representing approximately 300 hours of coursework </li>
          </p>
          <p style="font-size:20px; color: #ACCEE9 ">
              <strong> UDACITY - 2018</strong>
          </p>
          <p>
            <li>Verified Certificate in Front End Developer Track</li>
          </p>
          <p style="font-size:20px; color: #ACCEE9 ">
              <strong> 5E TRAINING - 2017</strong>
          </p>
          <p>
            <li>Verified Certificate in Photoshop & Illustrator</li>
          </p>
          <p style="font-size:20px; color: #ACCEE9 ">
              <strong>Higher Institute Mathematical informatics-Monastir</strong>
          </p>
          <p>
            <li>Bachelor’s Degree in Electronics and Telecommunication </li>
          </p>
        </div>
      </div>
    </div>
    <div class="card" style="background-color: transparent">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" (click)="showHide3()"
            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <strong class="SpanPro">SKILLS & ACTIVITY</strong>
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse {{z}}" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body" style="color:white">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p style="font-size:20px;color: #ACCEE9 "><strong>TECHNICAL SKILLS
                </strong> </p>
                <ul>

                  <li> Desings: Photoshop / Illustrator / Adobe XD </li>
                  <li>Simulation: Geogebra / EdrawMax</li>
                  <li> Web: HTML / CSS / JavaScript / Angular 4 et 6 / git / Node.js /
                    docker / postman / protractor / testlink / jasmine / prestashop </li>
                  </ul>
              </div>

              <div style="color:white">
                <p style="font-size:20px; color: #ACCEE9 "><strong>LANGUAGES</strong></p>
                <ul>
                  <li> English: Intermediate </li>
                  <li>French: Advanced</li>
                  <li> Arabic: (native language) </li>
                </ul>
              </div>

            </div>
            <div class="col-md-6">
              <div style="color:white">
                  <p style="font-size:20px; color: #ACCEE9 "><strong>ADDITIONAL ACTIVITY</strong></p>
                  <ul>
                      <li> nasa space apps challenge 2018: </li>
                      <p> Second place with AVRIO team,'Moon VR application' </p>
                        <li>Street Defence System:</li>
                        <p style="color:white"> practicing grade 2
                        </p>
                  </ul>
                  </div>
                  <div>
                      <p style="font-size:20px ; color: #ACCEE9"><strong>MY INTERESTS
                      </strong></p>
                      <ul>
                          <li>Series & Films</li>
                          <li>Sports</li>
                          <li>video games</li>
                          <li> travels </li>
                        </ul>
                    </div>

             



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">