
.container-fluid {
    overflow-x:auto;
    flex-direction: column;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image:  linear-gradient(to bottom right, rgb(54, 105, 247), #424243); 
align-items: center;
    justify-content:center;
  align-content:center;
  width: 100%;
height: 100%;

}
.content{
    align-items: center;
    justify-content:center;
  align-content:center;
  margin: 4% auto;

}
.card{
  margin: 20px auto;
    -webkit-box-shadow: -8px 9px 26px -1px rgba(0,0,0,0.38);
-moz-box-shadow: -8px 9px 26px -1px rgba(0,0,0,0.38);
box-shadow: -8px 9px 26px -1px rgba(0,0,0,0.38);
    position: relative;
    border-radius: 14px 14px 14px 14px;
-moz-border-radius: 14px 14px 14px 14px;
-webkit-border-radius: 14px 14px 14px 14px;
border: 0px solid #000000;

}

#send{
    background-image: linear-gradient(to top left, rgb(54, 105, 247), rgb(94, 189, 245));
}
#contact{
    margin-top: 0px;
}
@media all and (min-width: 800px) {
    .card1 {
      width: 700px;
    }
    .alert {
      width: 700px;
      justify-content:center;
      align-items: center;
  justify-content:center;
align-content:center;

    }
    
    .container-fluid{
        justify-content:center;
        align-items: center;
    justify-content:center;
  align-content:center;
    }
  
}
@media all and (min-width: 1200px) {
    .container-fluid{
        justify-content:center;
        align-items: center;
    justify-content:center;
  align-content:center;
    }
    .alert {
      justify-content:center;
      align-items: center;
  justify-content:center;
align-content:center;
      width: 1000px;
    }
    
    .card1{
        width: 1000px;
      
    }
  } 