<div class="container-fluid">
 
  <div  class="col-md-3" class="content">






    <div style="margin: auto; margin-bottom: 20px" *ngIf="sended" class="alert alert-success center-block" role="alert" id="alert" >
        Thank you! Your message has been sent successfully.    </div>






   <form [formGroup]="MesForm" novalidate class="text-center border border-light p-5 card1 card" id="contact">
     
     <p class="h4">Contact us </p>
     <!-- Name -->
     <input type="text" id="name" formControlName="name"  class="form-control mb-4"required placeholder="Name">
     
     <!-- Email -->
     <input type="email" id="email" formControlName="email"  class="form-control mb-4"  placeholder="E-mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required >
     
     <!-- Subject -->
      <label>Subject</label> 
     
     <!-- <div class="form-group"> -->
       <textarea class="form-control rounded-4 " formControlName="message" id="exampleFormControlTextarea2" rows="6"
       placeholder="Message"></textarea>
       <br/>
      <!-- </div> -->
      <!-- <div > {{1561450003202 | date:'short' }} </div> -->
      <!-- Send button -->
      <button id="send" class="btn btn-info btn-block" (click)="saveMessage()" [disabled]= "MesForm.invalid ||sended" type="submit">Send</button>
      
    </form>
  </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>