.container-fluid2  {
  overflow:auto;
    flex-direction: column;
    /* display: grid; */
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    grid-template-rows: 1.5fr 1fr ;
    background-image: linear-gradient(to bottom right, rgb(54, 105, 247), #424243); 
    }
    #div1{
      align-items: center;
      justify-content:center;
      font-family: 'Kaushan Script', cursive;
    align-content:center;
  }
 
    #div2{
        align-items: top;
        justify-content:center;
        font-family: 'Kaushan Script', cursive;
      align-content:top;
      /* padding-left: 0.5cm */
    }

    .column1{
      padding-left: 1cm;
      padding-right: 1cm;
        align-items: center;
        justify-content:right;
      align-content:center;
      font-family: 'Kaushan Script', cursive;
      font-size: 32px;
    }
    .column2{
       
        align-items: center;
        justify-content:center;
      align-content:center;
      font-family: 'Kaushan Script', cursive;
      font-size: 32px;
    }
    .column3{
       padding-left: 1cm;
       padding-right: 1cm;
        align-items: center;
        justify-content:left;
      align-content:center;
      font-family: 'Kaushan Script', cursive;
      font-size: 32px
    }
    .principale{
      padding-top: 8%;
      margin: auto;
      justify-content: center;
      align-content: center;
      align-items: center;
    }
      #span1 {
        padding: 5mm;
        font: 50px 'Kaushan Script', cursive;
        letter-spacing: 0;
        padding: .25em 0 .325em;
        display: block;
        margin: 0 auto;
        text-shadow: 0 0 80px rgba(255,255,255,.5);
    
    /* Clip Background Image */
    
        /* background: url(../../assets/animated.png) repeat-y; */
        background-image: linear-gradient(to  right, rgb(230, 95, 5), #ffffff); 

        -webkit-background-clip: text;
        background-clip: text;
    
    /* Animate Background Image */
    
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;
    
    /* Activate hardware acceleration for smoother animations */
    
        -webkit-transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
    
      }
    
    
    /* Animate Background Image */
    @media all and (max-width:770px) {
      #span1{
        
        font-size: 35px ;
        padding: 5mm;
         }
    }
    @media all and (max-height:500px) {
      #span1{
        font-size: 35px ;
        padding: 5mm;
         }
    }
    @-webkit-keyframes aitf {
      0% { background-position: 0% 50%; }
      100% { background-position: 100% 50%; }
    }