<div class="container-fluid2">
<div class="principale">

  <div class="row"  id="div1" >
    
    <div class= "column1 .col-md-4" style="color:white">
        ABDESSALEM </div>
        
        <div class= "column2 .col-md-4" style="color:white">
            <img src="../../assets/photo.png" alt="ABHY" class="center" style="display: block;
      margin-left: auto;
      margin-right: auto;" >    
    </div>
    <div class= "column3 .col-md-4" style=" color:white">
        BEL HADJ YOUSSEF
      </div> 
      
    </div>  
    
    
    <div class="row" id="div2">
      <p style="   color:white">
          <span id="span1">Integrateur/Front-End Web Developpeur</span>
        </p>
        
      </div> 
      
</div>

</div>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">